@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,h2,h3,h4,h5,h6 {
        @apply font-serif mt-4 first:mt-0;
    }
    h1 {
        @apply text-2xl font-bold;
    }
    h2 {
        @apply text-xl font-bold;
    }
    h3 {
        @apply text-lg font-bold;
    }
    h4 {
        @apply font-bold;
    }
    h5 {
        @apply italic;
    }
    p {
        @apply my-4;
    }
    a {
        text-shadow: 2px 2px 2px #000;
        @apply text-etgra-link;
    }
    ol,
    ul,
    menu {
        list-style: revert;
        padding: 0ch 2ch;
    }
  }
