<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {# google fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="\styles\main.css?v={% version %}">
    <script src="/js/alpine.js?v={% version %}"></script>
</head>
<body class="flex flex-col items-center bg-zinc-100">
    <div class="max-w-[8in] flex flex-col items-center bg-zinc-50 drop-shadow-md">
        {% include "partials/header.njk" %}
        <main class="p-4 my-8 border-4 border-cyan-700">
            {{ content | safe }}
        </main>
    </div>
</body>
</html>