--- 
    title: Gallery - East Texas Goat Raisers Association
---
{% from "partials/gallery.njk" import gallery %}
<h1>ETGRA Events Gallery</h1>

<h2>2022 Dairy Show</h2>

{{ gallery([
    '/images/events/dairy-show-2022/dshow-2022-goat-tails.jpeg',
    '/images/events/dairy-show-2022/dshow-2022-goat.jpeg',
    '/images/events/dairy-show-2022/dshow-2022-table.jpeg',
    '/images/events/dairy-show-2022/dshow-2022-white-goats.jpeg',
    '/images/events/dairy-show-2022/show-2022-gate.jpeg'
]) }}

<h2>FAMCHA workshop and Youth Market</h2>

{{ gallery ([
    '/images/events/famcha-2018/famcha-2018-1.jpeg',
    '/images/events/famcha-2018/famcha-2018-2.jpeg',
    '/images/events/famcha-2018/youth-market-2018.jpeg'
])}}