<footer class="w-full flex flex-row justify-center flex-wrap gap-4">
    <div class="">&copy;2022 ETGRA </div>
    <div class="">Design by Jonathan Saint</div>
    <div class="">Code By <a href="https://bytesandbeans.com">Wesley Williams</a></div>
</footer>