{% macro galleryImage(image) %}
    
{% endmacro %}

{% macro gallery(images) %}
<div class="w-full flex flex-wrap justify-center">
    {% for imageUrl in images %}
        <figure>
            <img src="{{imageUrl}}" alt=''>
        </figure>
    {% endfor %}
</div>
{% endmacro %}
