{% macro galleryImage(image) %}
    <figure>
        <img src="{{imageUrl}}" alt=''>
    </figure>
{% endmacro %}

{% macro gallery(images) %}
<div class="w-full flex flex-wrap justify-center">
    {% for imageUrl in images %}
        {{ galleryImage(imageUrl) }}
    {% endfor %}
</div>
{% endmacro %}
