{# relative paths to the images you want to have rotating in the header. #}
{% set imageList = [
    '/images/headergoats/goat-hardhat-2.png',
    '/images/headergoats/goat1.jpg',
    '/images/headergoats/goat-hardhat-1.png',
    '/images/headergoats/goat2.jpg',
    '/images/headergoats/goat3.jpg'
] %}
{% set maxImgHeight = 'max-h-[4in]' %}

<header class=" w-full">
    {#  #}
    <div class="border-solid border-y-8 border-etgra-border w-100 flex justify-center overflow-hidden">{# Gallery and Logo #}
        <div {# LogoContainer #}
            class="
                flex flex-col items-start relative
                border-solid border-x-8 border-etgra-border 
                gap-4 p-4 sm:max-w-[70%]
                bg-white bg-opacity-50
            "
        >
            <img class="w-full max-h-[3in]" src="/images/logos/logo_general_trans.png" alt="">
            <div class="w-full text-center font-serif font-bold text-2xl ">East Texas Goat Raisers Association</div>
            <div {# header gallery #}
                class="
                    z-[-1] 
                    absolute top-0 bottom-0 left-full aspect-[2.8/2]
                "
                style="--offset: 0"
                x-data="{
                    timer: 6000,
                    offset: 0,
                    shift: function(){
                        $data.offset -= 1; 
                        $el.style.setProperty('--offset', $data.offset);
                        const firstChild = $el.firstElementChild;
                        const newPosition = Number($el.lastElementChild.style.getPropertyValue('--position')) + 1;
                        $el.appendChild(firstChild);
                        firstChild.style.setProperty('transition', 'right 0s');
                        firstChild.style.setProperty('--position', newPosition);
                        firstChild.style.setProperty('transition', 'right 1s ease-in-out');
                        setTimeout($data.shift, $data.timer);
                    },
                }"
                x-init="setTimeout(shift, timer);"
            >
                {% for imageUrl in imageList %}
                    <img 
                        class="top-0 bottom-0 aspect-[2.8/2] absolute {{maxImgHeight}} h-full object-cover"
                        src="{{imageUrl}}" 
                        alt=""
                        style="--position:{{ loop.index0 - 3 }}; transition: right 1s ease-in-out; right: calc((var(--position) + var(--offset)) * -100%);"
                    >
                {% endfor %}
                {% for imageUrl in imageList %}
                    <img 
                        class="top-0 bottom-0 aspect-[2.8/2] absolute {{maxImgHeight}} h-full object-cover"
                        src="{{imageUrl}}" 
                        alt=""
                        style="--position:{{ loop.index0 - 3 + loop.length }}; transition: right 1s ease-in-out; right: calc((var(--position) + var(--offset)) * -100%);"
                    >
                {% endfor %}
                
            </div>
        </div>

    </div>
    {% include "partials/navigation.njk" %}
</header>