<header class="border-solid border-y-8 border-etgra-border w-full">
    {#  #}
    <div class="w-100 flex justify-center overflow-hidden">{# Gallery and Logo #}
        <div class="">&nbsp;</div>
        <div {# LogoContainer #}
            class="
                flex flex-col items-start relative
                border-solid border-x-8 border-etgra-border 
                gap-4 p-4 max-w-[70%]
                
            "
        >
            <img class="w-full" src="/images/logos/logo_general.png" alt="">
            <div class="text-center font-serif font-bold text-2xl ">East Texas Goat Raisers Association</div>
            <div {# header gallery #}
                class="
                    z-[-1] 
                    absolute top-0 bottom-0 left-full aspect-[3/2]
                    border-dotted border-pink-500 border-4

                "
            >
                {% set imageList = [
                    '/images/headergoats/goat-hardhat-1.png',
                    '/images/headergoats/goat-hardhat-2.png',
                    '/images/headergoats/goat1.jpg',
                    '/images/headergoats/goat2.jpg',
                    '/images/headergoats/goat3.jpg'
                ] %}
                {% for imageUrl in imageList %}
                    <img 
                        class="top-0 bottom-0 aspect-[3/2] absolute"
                        src="{{imageUrl}}" 
                        alt=""
                        style="--position:{{ loop.index0 -2 }}; transition: right 1s ease-in-out; right: calc(var(--position)*-100%);"
                    >
                {% endfor %}
                
            </div>
        </div>

    </div>
</header>