<header>
    {#  #}
    <div class="w-100 flex justify-center">{# Gallery and Logo #}
        <div class="">&nbsp;</div>
        <div 
            class="
                border-solid border-8 border-etgra-border 
                flex flex-col items-start 
                gap-4 p-4 max-w-[70%]
            "
        >{# LogoContainer #}
            <img class="w-full" src="/images/logos/logo_small.png" alt="">
            <div class="text-center">East Texas Goat Raisers Association</div>
        </div>

    </div>
</header>