{#  The navigation menu,  
    Will probably go in the header.

    For help adding new items to the menu, skip to `#linkList` below
 #}

{#  macro for the links or buttons themselves  
    @param text: string text to display
    @param
#}
{% macro navbutton(text='nav',linkto='/') %}
    {% set isThisSection = linkto == page.filePathStem or linkto == section %}
    {% if linkto == '/' and page.filePathStem == '/index' %}
        {% set isThisSection = true %}
    {% endif %}
    <a 
        href="{{linkto}}" 
        class="
            px-2 text-etgra-border sm:block
            sm:max-h-[1.5em] transition-[max-height] transition-duration-[1.5s] overflow-hidden
            {{ 'underline' if isThisSection }}
        "
        x-bind:class="open ? 'max-h-[1.5em]' :  'max-h-[0em]' "
    >
        {{text}}
    </a>
{% endmacro %}

{# The nav-bar element #}
<nav 
    class="
        font-bold font-serif uppercase
        flex justify-center items-center flex-col sm:flex-row
        sm:divide-x-2 py-2 
        border-solid border-b-8 border-etgra-border
        overflow-hidden 
    "
    {# is the mobile menu open or shut? defaults shut #}
    x-data="{open: false}"
    x-cloak
>
    <div 
        {# mobile menu button, only visible on mobile screens #}
        class="text-etgra-border font-bold text-lg block sm:hidden cursor-pointer grow-0"
        x-on:click="open = !open"
    >
        ☰
    </div>
    {#  #linkList
        Each item in the list below is a link in the nav bar.
        
        To change the order the buttons appear in, simpley change their order 
        here.

        To add a new link, simply add another call to the navbutton() macro  
        like this `{{ navbutton('Button-text-here', '/url/of/page') }}`

        Note the `/` at the start of the url above. This tells the browser that 
        this url is for the site we are on now.  
        ie: "/someurl" becomes `https://this.site/someurl`, but `someurl` will
        be interpreted as `someurl` and won't work.

     #}
    {{ navbutton('home', '/') }}
    {{ navbutton('join', '/join')}}
    {{ navbutton('sales','/sales') }}
    {{ navbutton('reports','/reports') }}
    {{ navbutton('youth', '/youth')}}
    {{ navbutton('gallery','/gallery') }}
    {{ navbutton('leadership','/leadership') }}
    {{ navbutton('meetings','/minutes') }}
    {{ navbutton('contact','/contact') }}
</nav>

