{% macro navbutton(text='nav',linkto='/') %}
    <a 
        href="{{linkto}}" 
        class="
            px-2 text-etgra-border sm:block
            sm:max-h-[1.5em] transition-[max-height] transition-duration-[1.5s] overflow-hidden
        "
        x-bind:class="open ? 'max-h-[0em]' : 'max-h-[1.5em]'"
    >
        {{text}}
    </a>
{% endmacro %}

<nav 
    class="
        font-bold font-serif uppercase
        flex justify-center items-center flex-col sm:flex-row
        sm:divide-x-2 py-2 
        border-solid border-b-8 border-etgra-border
        overflow-hidden 
    "
    x-data="{open: false}"
>
    <div 
        class="text-etgra-border font-bold text-lg block sm:hidden cursor-pointer grow-0"
        x-on:click="open = !open"
    >
        ☰
    </div>
    {{ navbutton('home','/') }}
    {{ navbutton('contact','/contact') }}
    {{ navbutton('sales','/sales') }}
</nav>