{% macro navbutton(text='nav',linkto='/') %}
    <a 
        href="{{linkto}}" 
        class="px-2 text-etgra-border"
    >
        {{text}}
    </a>
{% endmacro %}

<nav 
    class="
        font-bold font-serif uppercase
        flex divide-x-2 justify-center py-2 
        border-solid border-b-8 border-etgra-border
    "
>
    {{ navbutton('home','/') }}
    {{ navbutton('contact','/contact') }}
    {{ navbutton('sales','/sales') }}
</nav>