{% macro prop(name, content) %}
    <meta property="og:{{name}}" content="{{content}}"/>
{% endmacro %}
{% set httpImageUrl = urlHttp+'/images/logos/logo_general.png' %}
{% set httpsImageUrl = url+'/images/logos/logo_general.png' %}

{{ prop('title',title) }}
{{ prop('type', 'Organization') }}
{{ prop('image', httpImageUrl) }}
{{ prop('image:secure_url', httpsImageUrl) }}
{{ prop('description',previewDescription) }}